
			body{
				background: url("bg.jpg") no-repeat top center ;
				
				font-family:"Comic Sans MS","Times New Roman"; 
				color : #2c5282;
			}
			header{
				float:left;
				width :100%;
				font-size = "18px";
				margin:0px;
				
			}
			#logo-container{
				float : left;
				width : 39%;
			}
			#user-info{
				width : 60%;
				text-align: right;
				float:right;
				display : table-cell;
				vertical-align : middle;
			}
			
			#user-photo{ 
				border-radius : 50%;
				width : 75px;
				border : 1px solid #4d80c6;
				 box-shadow: 0 0 10px rgba(0,0,0,0.5);
				
			}
			#user-info a{
				 
				 text-decoration : none;
				 
			}
			
			.content{
			padding-top: 100px;
			float:right;
			width: 100%;
			text-align: center;
			}
			nav ul{
			font-size : 25px;
				list-style-type:none;
				text-align:right;
			}
			li a:hover{
				border-right: 7px solid #477fd8;
				ñolor  : #284972;
				font-style : italic;
			}
			
			li a, a:visited{
				color: #2c5282;
				text-decoration : none;
				padding-right: 15px;
			 }
			
			article{
				padding-top: 360px;
				float:left;
				width:55%;
			}
			nav{
			padding-top: 195px;
			width :35%;
				float:right;
			}
			